.banner-div{
    position: relative;
    width: 100%;
    height: 500px;
}
.banner-img{
    position: absolute;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}
.gradient{
    position: absolute;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(to top,rgb(0, 0, 0), transparent);
    bottom: 0;
    z-index: -1;
}
.banner-text{
    width: 45%;
    padding: 50px;
    height: calc(100% - 80px);
    /* background-color:red ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    color: white;
}
.banner-text > * {
    margin: 10px 0;
}
.banner-text >h1{
    font-size: 2.5rem;
}
.banner-text >p{
    font-size: 1.1rem;
}
button{
    height: 40px;
    padding: 5px 20px ;
    margin-right: 20px;
    color: black;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    
}
button > i{
    color: black;
    margin-right: 10px;
    font-size: 1.2rem;
}
.btn-more{
    background-color: rgba(207, 207, 207, 0.58);
    color: white;
}
.btn-more > i{
    color: white;
}
button:hover{
    opacity: .8;
}